<h1>Listing aktualnis</h1>

<table>
  <tr>
    <th>Begin</th>
    <th>Pilot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aktualnis.each do |aktualni| %>
  <tr>
    <td><%= aktualni.begin %></td>
    <td><%= aktualni.pilot %></td>
    <td><%= link_to 'Show', aktualni %></td>
    <td><%= link_to 'Edit', edit_aktualni_path(aktualni) %></td>
    <td><%= link_to 'Destroy', aktualni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aktualni', new_aktualni_path %>
