<p id="notice"><%= notice %></p>

<p>
  <b>Begin:</b>
  <%= @aktualni.begin %>
</p>

<p>
  <b>Pilot:</b>
  <%= @aktualni.pilot %>
</p>


<%= link_to 'Edit', edit_aktualni_path(@aktualni) %> |
<%= link_to 'Back', aktualnis_path %>
